
.product-details {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    gap: 40px;
    padding: 20px;
}


.product-image img {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}


.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.product-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.product-info .description {
    margin: 10px 0;
}

.product-info .price {
    font-size: 22px;
    font-weight: bold;
}

.add-to-cart {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}


.similar-products {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.similar-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.similar-grid {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}


.product-card {
    background-color: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
        align-items: center;
    }

    .product-image img {
        width: 100%;
    }

    .similar-grid {
        flex-direction: row;
        align-items: center;
    }
}
@media (max-width: 639px) {
    .similar-products {
        display: none;
    }
}
